@import "compass/css3";

/* Below contains CSS for log_in.html */
html {
  background-color: white;
  display: flex;
}

.header {
  background-color: gray;
  height: 30px;
  padding: 8px;
}
.header h1 {
  display: inline;
}

.team-intro {
  display: flex;
}

#florendo {
  background-color: gray;
  flex: 33.33%
}

#teng {
  background-color: gray;
  flex: 33.33%
}

#manhey {
  background-color: gray;
  flex-direction: : 33.33%
}

.team-intro {
  background-color: white;
}

.team-intro:after {
  content: "";
  display: table;
  clear: both;
}


/* Below contains CSS for welcome_back.html */

.column {
  float: left;
}

.left {
  width: 10%;
}

.right {
  width: 95%;
}
