@import "compass/css3";

/* Below contains CSS for log_in.html */
.login {
  max-width: 500px;
  background-color: white;
  display: flex;
  margin: auto;
  flex-direction: column;
  min-height: 90vh;
}

.header {
  background-color: #FCC3E4;
  height: 30px;
  padding: 8px;
}
.header h1 {
  display: inline;
}

.team-intro {
  display: flex;
}


.team-intro {
  background-color: white;
  display: flex;
  width: 33.33%;
  margin: 10px;
}

.team-intro:after {
  content: "";
  display: table;
  clear: both;
}


/* Below contains CSS for welcome_back.html */

.column {
  float: left;
}

.left {
  width: 10%;
}

.right {
  width: 95%;
}
